#menu {
  background-color: #191818;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10%;
}

ul {
  list-style: none;
}

.recipe-image {
  width: 100%;
}

a {
  text-decoration: none;
  color: #2E2E2E;
}

h2 {
  font-size: 1.25em;
}

#recipes {
  margin-top: 50px;
  width: 90%;
}

.recipe {

}

.recipe-heading {
  padding: 5px;
  height: 100px;
  background-color: #D8D8D8;
  text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  position: fixed;
  left: 30%;
  right: 30%;
  top: 20%;
  padding: 50px;
  background-color: white;
  text-align: center;
}

#recipes > div > * {
  margin: 0.3rem 0.5rem;
}

.star {
  width: 20px;
}

.pure-button-active {
  background-color: #58ACFA;
  color: white;
  border: none;
}

label {
  font-weight: bold;
}

.new-recipe-link {
  position: fixed;
  top: 0;
  right: 20px;
  letter-spacing: 0.2em;
}

.sidebar-text {
  display: block;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  font-size: 11em;
  margin-top: 500px;
  left: 20px;
}

.pure-g label {
  letter-spacing: 0em;
}

.angular-logo {
  width: 100%;
}

@media (max-width: 1400px) {
  .pure-menu {
    display: none;
  }
}
